<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html
     xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main Page</title>
 
            <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="http://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    
    <body>
         <main role="main">
             <section class="jumbotron text-center">
        <div>
            <h1 class="jumbotron-heading"> My Welcome to my website</h1>
            <h2> <img src ="https://images.vexels.com/media/users/3/143355/isolated/preview/7c9190c0fa15ec714bd3bea70c0ed2bb-mother-of-god-meme-face-by-vexels.png"/> </h2>
        </div>
             </section>
         </main>
    </body>
</html>
